{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container text-center">
        <h1>404 - Página não encontrada</h1>
        <p>Desculpe, a página que você está tentando acessar não existe.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">Voltar para a página inicial</a>
    </div>

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>&copy; 2024 Diretoria de Gestão do Gasto Público. Todos os direitos reservados.</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'js/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
</body>