{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos e Condições</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/LogoDGGP3-semNomeBlack.png' %}" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="{% static 'css/termos_condicoes.css' %}">
</head>
<body>
    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img id="logo-image" src="{% static 'img/LogoDGGP3Black.png' %}">
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>

            <h1>Termos e Condições de Registro</h1>

            <p>Bem-vindo(a) ao GastoPúblicoTO!</p>

            <p>Ao se cadastrar em nosso site, você concorda com os seguintes termos e condições:</p>

            <ol>
                <li>
                    <strong>Informações de Registro:</strong>
                    <p>Para se cadastrar, você precisará fornecer seu primeiro nome, sobrenome, CPF, setor, e-mail e telefone.</p>
                </li>

                <li>
                    <strong>Propósito do Registro:</strong>
                    <p>Os dados fornecidos durante o registro serão usados exclusivamente para criar e manter sua conta em nosso site. Não iremos compartilhar, vender ou utilizar suas informações para qualquer outra finalidade.</p>
                </li>

                <li>
                    <strong>Confidencialidade:</strong>
                    <p>Comprometemo-nos a manter a confidencialidade de suas informações. Nossas práticas de segurança são projetadas para proteger seus dados contra acesso não autorizado.</p>
                </li>

                <li>
                    <strong>Uso Responsável:</strong>
                    <p>Você é responsável por garantir a precisão e a veracidade das informações fornecidas durante o registro. Qualquer uso indevido resultará na suspensão ou encerramento da sua conta.</p>
                </li>

                <li>
                    <strong>Comunicações:</strong>
                    <p>Ao se cadastrar, você concorda em receber comunicações relacionadas ao seu registro, como confirmações de conta e informações importantes sobre o serviço.</p>
                </li>

                <li>
                    <strong>Encerramento da Conta:</strong>
                    <p>Você pode encerrar sua conta a qualquer momento, entrando em contato conosco. Após o encerramento, seus dados serão mantidos apenas pelo tempo necessário para cumprir obrigações legais.</p>
                </li>

                <li>
                    <strong>Alterações nos Termos:</strong>
                    <p>Reservamo-nos o direito de alterar estes termos e condições a qualquer momento. Notificaremos os usuários sobre quaisquer mudanças significativas.</p>
                </li>
            </ol>

            <p>Ao clicar em "Registrar", você confirma que leu, compreendeu e concorda com estes termos e condições.</p>

            <p>Se tiver alguma dúvida ou preocupação, entre em contato conosco.</p><br>

            <p>Obrigado por se juntar a nós!</p><br>
            <strong>GastoPúblicoTO<br></strong>
            (63) 3212-4438
        </main>
        <!-- End of Main Content -->
    </div>
    <!-- Footer Section -->
    <footer class="dark-mode">
        <div class="footer-content">
            <p>&copy; 2024 Diretoria de Gestão do Gasto Público. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="./assets/js/orders.js"></script>
    <script src="./assets/js/index.js"></script>
</body>
