{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/LogoDGGP3-semNomeBlack.png' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>

<body>

    <div class="container">
        <div class="wrapper">
            <aside>
                <div class="toggle">
                    <div class="logo">
                        <img id="logo-image" src="{% static 'img/LogoDGGP3Black.png' %}">
                        <h2></h2>
                    </div>
                </div>
            </aside>
            <form method="post" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                <h1>Conecte-se</h1>

                <div class="input-box">
                    <div class="input-field">
                        <input type="password" id="password" name="password" placeholder="Nova Senha" required>>
                        <i class='bx bxs-lock-alt'></i>
                    </div>
                    <div class="input-field">
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar Nova Senha" required>>
                        <i class='bx bxs-lock-alt'></i>
                    </div>
                </div>
                <button type="submit" class="btn">Redefinir Senha</button>
            </form>
        </div>
    </div>
</body>