{% extends 'base.html' %}
{% load static %}
{% block title %}FPE & FUNDEB{% endblock title %}



{% block content %}
<body class="no-background-image">
    <link rel="stylesheet" href="{% static '/css/receita-despesa.css' %}" />
    <div class="main-content">
        <div class="fullscreen-container">
            <div class="iframe-container">
                <!-- Receita -->
                <iframe src="https://app.powerbi.com/view?r=eyJrIjoiNjA1YjRkYTctZDZmMC00NDk1LThiZTctZTc5OTBkOWJlOWU5IiwidCI6IjBkNzg5ODQ4LTZlZTAtNDk3Ny04YjQ2LTUzNDFlMTNiODg3NCJ9&pageName=ReportSection6ff038f58899e2908266"></iframe>
            </div>
        </div>
    </div>
</body>
{% endblock %}